<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

  <div class="col-2 homepage_content">
    <h2>Stuff I've written</h2>
    <hr>

    <% @post.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>

  </div>

  <div class="col-3 homepage_content">
    <h2>Stuff I've Buit</h2>
    <hr>
    <h3>GradeBook Java</h3>
    <p class="date">Tuesday March 3rd</p>
    <h3>Touch</h3>
    <p class="date">Friday April 16th</p>
    <h3>Project Board</h3>
    <p class="date">Monday June 2nd</p>
  </div>

</div>

<footer id="main_footer">
  <p class="copyright">&copy; 2016 thando Ncube</p>
  <nav>
    <a href="http://twitter.com/thandon20" class="fa fa-twitter   " target="_blank"> Twitter</a>
    <a href="http://github.com/thandon263" class="fa fa-github   " target="_blank"> Github</a>
    <a href="http://facebook.com/blessings.ncube" class="fa fa-facebook   " target="_blank"> Facebook</a>
  </nav>
</footer>
